.Heading_2_9209 {
  color: var(--text-icon-primary, #162a39);
  width: 358px;
  font-family: Noto Sans JP;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  display: inline-block;
}