.IconArea_1_4968 {
  aspect-ratio: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
}
.Mail_1_5129 {
  aspect-ratio: 1;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
}