@import "https://fonts.googleapis.com/css?family=Noto+Sans+JP:0,700;0,500&display=swap";
.Layout_2_9208 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Heading_2_9209 {
  color: var(--text-icon-primary, #162a39);
  width: 358px;
  font-family: Noto Sans JP;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  display: inline-block;
}
.Layout_2_9210 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Heading_2_9211 {
  background: var(--Navy-Navy-50, #e6eaed);
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  display: flex;
}
.Heading_2_9212 {
  color: var(--text-icon-primary, #162a39);
  flex: 1 0 0;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
}
.Body_2_9213 {
  color: var(--text-icon-primary, #162a39);
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: inline-block;
}
.Layout_2_9214 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  display: flex;
}
.Heading_2_9215 {
  background: var(--Navy-Navy-50, #e6eaed);
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  padding: 8px 12px;
  display: flex;
}
.Heading_2_9216 {
  color: var(--text-icon-primary, #162a39);
  flex: 1 0 0;
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
}
.Body_2_9217 {
  color: var(--text-icon-primary, #162a39);
  font-family: Noto Sans JP;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: inline-block;
}
.Image_2_9218 {
  background: var(--Gray-White, #fff);
  width: 358px;
  height: 162px;
  overflow: hidden;
  position: relative;
}
.Rectangle_32_2_9219 {
  background: var(--text-icon-primary, #162a39);
  flex-shrink: 0;
  width: 310px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translateX(-50%);
}
.Rectangle_33_2_9220 {
  background: var(--text-icon-secondary, #475a69);
  border-radius: 2px 2px 0 0;
  flex-shrink: 0;
  width: 30px;
  height: 32px;
  position: absolute;
  left: 56px;
  top: 128px;
}
.Rectangle_34_2_9221 {
  background: var(--text-icon-secondary, #475a69);
  border-radius: 2px 2px 0 0;
  flex-shrink: 0;
  width: 30px;
  height: 56px;
  position: absolute;
  left: 110px;
  top: 104px;
}
.Rectangle_35_2_9222 {
  background: var(--text-icon-secondary, #475a69);
  border-radius: 2px 2px 0 0;
  flex-shrink: 0;
  width: 30px;
  height: 80px;
  position: absolute;
  left: 164px;
  top: 80px;
}
.Rectangle_36_2_9223 {
  background: var(--text-icon-secondary, #475a69);
  border-radius: 2px 2px 0 0;
  flex-shrink: 0;
  width: 30px;
  height: 104px;
  position: absolute;
  left: 218px;
  top: 56px;
}
.Rectangle_37_2_9224 {
  background: var(--text-icon-secondary, #475a69);
  border-radius: 2px 2px 0 0;
  flex-shrink: 0;
  width: 30px;
  height: 128px;
  position: absolute;
  left: 272px;
  top: 32px;
}
.Group_8_2_9225 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 61px;
  top: 133.96px;
}
.Group_7_2_9228 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 115px;
  top: 121.96px;
}
.Group_9_2_9231 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 169px;
  top: 109.96px;
}
.Group_10_2_9234 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 223px;
  top: 97.96px;
}
.Group_11_2_9237 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 277px;
  top: 85.96px;
}
.Seed_2_9240,
.Leaf_2_9241,
.Tree_2_9242,
.Forest_2_9243,
.Globe_24dpE3E3E3Fill0Wght400Grad0Opsz24_1_2_9244 {
  aspect-ratio: 1;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 59px;
  top: 96px;
}